body {
    height: 100%;
    background-color: #333;
    background: linear-gradient(
    135deg,
    #ff0000,
    #ffa500,
    #ffff00,
    #00ff7f,
    #0000ff,
    #4b0082,
    #ee82ee
);
    background-size: 2000% 2000%;
    animation: AnimationName 40s ease infinite;
}

body {
    /* display: -ms-flexbox;
    display: flex; */
    color: #fff;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}
@keyframes AnimationName {
    0%{background-position:0% 25%}
    50%{background-position:100% 76%}
    100%{background-position:0% 25%}
}
.nav{
    /* display: grid; */
    /* place-items: center; */
}
.nav-center{
    text-transform: uppercase;
    padding: 1rem;
    font-size: 8.5rem;
    text-align: center;
    animation: bounce 3s ease-in-out infinite;
    /* color: rgba(20, 150, 80, 1); */
}

@keyframes bounce {
    0% {
        transform: scale(.8);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(.8);
    }
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 87vh;
    padding: 2.5rem;
}