*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: .5rem;
    background-color: #fff;
}
a {
    text-decoration: none;
    color:  hsl(205, 78%, 60%);
    font-weight: bold;
}
.categories{
    display: flex;
}

.simple, .hex{
    margin-right: 2rem;
}
article{
    height: calc(100vh - 5vh);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.main__body{
    display: flex;
    flex-direction: column;
}
.bg__header,.button{
    margin: .5rem;
    padding: .5rem;
}
.bg__header{
    width: fit-content;
    display: flex;
    justify-content: center;
    font-size: 2rem;    
    background-color: #000;
    color: #fff;
    border-radius: .5rem;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.click{
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    background-color: transparent;
    border: 2px solid black;
    font-weight: bold;
    transition: .5s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.click:hover{
    cursor: pointer;
    color: aliceblue;
    background: #000;
}
span{
    margin-left: 10px;
    color:  hsl(205, 78%, 60%);
}



/* .box{
    height:200px;
    width: 200px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
} */