*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background: lightblue;
    color: rgb(2, 2, 61);
    line-height: 1.5;
    font-size: 1rem;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
img{
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
}



/* STYLING BUTTONS */
.btn{
    text-transform: uppercase;
    background: transparent;
    color: red;
    padding: .5rem 1rem;
    letter-spacing: .25rem;
    display: inline-block;
    transition: all 0.3s linear;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.btn:hover {
    color: lime;
    background: black;
}
.btn-white {
    color: white;
    border-color: white;
    border-radius: 0;
    padding: 0.5rem 1rem;
}
.btn:hover {
    background: pink;
    color: rgb(2, 2, 61);
    border-color: rgb(2, 2, 61);
}

/* STYLING THE SECTIONS */
.section {
    padding-bottom: 5rem;
}

/* STYLING THE NAVBAR */
nav{
    background: rgb(2, 2, 61);
    padding: 1rem 1.5rem;
    /* border-radius: 0 0 2rem 2rem;  */
    /*TL, TR, BR, BL*/
}
/* FIXED NAVBAR  */
.fixed-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: pink;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
}
.fixed-nav .links a {
    color: rgb(2, 2, 61);
}
.fixed-nav .links a:hover {
    color:red;
}
/* .fixed-nav .links-container {
    height: auto !important;
} */


.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-toggle {
    background: transparent;
    border-color: transparent;
    transition: all .3s linear;
    cursor: pointer;
}
.nav-toggle:hover {
    transform: scale(1.5);
}
.logo{
    height: 50px;
    width: 50px;
}


/* /THE IMPORTANT PART/ */
.links-container{
    height: 0;
    /* height: 200px; */
    overflow: hidden;
    transition: all .5s ease-out;
}
.show-links{
    height: 200px;
}
/* THE IMPORTANT PART ENDS */

.links a{
    color: pink;
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .25rem;
    display: block;
    transition: all .5s ease-out;
    padding: .75rem 0;
    text-align: center;
}
.links a:hover {
    color: red;
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
}


@media screen and (min-width:800px){
    nav{
        background: rgb(2, 2, 61);
    }
    .nav-center{
        width: 90vw;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-header{
        padding: 0;
    }
    .nav-toggle{
        display: none;
    }
    /* IMPORTANT PART FOR HEIGHT */
    /* IMPORTANT PART FOR HEIGHT */
    /* IMPORTANT PART FOR HEIGHT */
    .links-container{
        height: auto !important;
    }
    /* IMPORTANT PART FOR HEIGHT ENDS */
    /* IMPORTANT PART FOR HEIGHT ENDS */
    /* IMPORTANT PART FOR HEIGHT ENDS */
    .links{
        display: flex;
    }
    .links a {
        color: pink;
        font-size: 1.1rem;
        font-weight: bold;
        text-transform: capitalize;
        letter-spacing: .25rem;
        display: block;
        transition: all .3s linear;
        margin: 0 1rem;
        border-radius: .5rem;
        padding: 0;
    }
    .links a:hover{
        /* background: transparent; */
        background:rgba(0, 0, 0, 0.2);
    }
}
/* HERO OF THE DAY */
header {
    min-height: 100vh;
    background: linear-gradient( rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),url(./images/firegame.jpg) center/cover no-repeat;
    animation: bg-animation 200s infinite alternate;
}
@keyframes bg-animation {
    0%{background-position: left;}
    100%{background-position: right;}
}
.banner{
    min-height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
}
.container h1{
    color: white;
    text-transform: uppercase;
}
.container p{
    color: white;
    max-width: 25rem;
    margin: 0 auto;
    margin-bottom: 1.25rem;
}

@media screen and (min-width: 768px){
    .container p{
    max-width: 40rem;
    }
}

/* SECTIONS AND TITLE */
.title h2{
    text-align: center;
    text-transform: uppercase;
}
.title span{
    color: dodgerblue;
}

#about, #services, #tours{
    height: 80vh;
}
#about{
    background: linear-gradient( rgba(0, 0, 0, 0.7),rgba(63, 208, 212, 0.5));
}
#services {
    background: linear-gradient( rgba(63, 208, 212, 0.5),rgba(0, 0, 0, 0.7));
}
#tours{
    background: linear-gradient( rgba(0, 0, 0, 0.7),rgba(63, 208, 212, 0.5));
}


/* FOOTER SECTION */
footer{
    background-color: rgb(2, 2, 61);
    padding: 5rem 1rem;
}
footer p{
    color: pink;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.25rem;
    margin-bottom: 0;
}


/*BACK TO TOP SCROLL BUTTON SECTION */
.top-link{
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    display: grid;
    place-items: center;
    background-color: orangered;
    border-radius: .5rem;
    border: 1px groove yellow;
    animation: bounce 2s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
}
.scrollTop{
    width: 2.5rem;
    height: 2.5rem;
}
/*BACK TO BOTTOM SCROLL BUTTON SECTION */
.bottom-link{
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    display: grid;
    place-items: center;
    background-color: yellow;
    border-radius: 0.5rem;
    border: 1px groove orangered;
    animation: bounce 2s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
}
.scrollBottom{
    width: 2.5rem;
    height: 2.5rem;
    transition: all .3s ease-in;
    transform: rotate(180deg);
}
.show-link{
    visibility: visible;
    z-index: 100;
}
@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}





