*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: #09131b; */
    color: #ffffff;
    min-height: 100vh;
    background-color: #09131b;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='24' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ff652f' fill-opacity='0.13'%3E%3Cpath d='M2 0h2v12H2V0zm1 20c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM9 8c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zm-1 4h2v12H8V12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
/* shapedivider */

/* .custom-shape-divider-top-1617355292 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1617355292 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 24px;
}

.custom-shape-divider-top-1617355292 .shape-fill {
    fill:#427dad;
} */



/* header */
.header{
    /* background:#122331; */
    background-color: #09131b;
    background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M82.42 180h-1.415L0 98.995v-2.827L6.167 90 0 83.833V81.004L81.005 0h2.827L90 6.167 96.167 0H98.996L180 81.005v2.827L173.833 90 180 96.167V98.996L98.995 180h-2.827L90 173.833 83.833 180H82.42zm0-1.414L1.413 97.58 8.994 90l-7.58-7.58L82.42 1.413 90 8.994l7.58-7.58 81.006 81.005-7.58 7.58 7.58 7.58-81.005 81.006-7.58-7.58-7.58 7.58zM175.196 0h-25.832c1.033 2.924 2.616 5.59 4.625 7.868C152.145 9.682 151 12.208 151 15c0 5.523 4.477 10 10 10 1.657 0 3 1.343 3 3v4h16V0h-4.803c.51.883.803 1.907.803 3 0 3.314-2.686 6-6 6s-6-2.686-6-6c0-1.093.292-2.117.803-3h10.394-13.685C161.18.938 161 1.948 161 3v4c-4.418 0-8 3.582-8 8s3.582 8 8 8c2.76 0 5 2.24 5 5v2h4v-4h2v4h4v-4h2v4h2V0h-4.803zm-15.783 0c-.27.954-.414 1.96-.414 3v2.2c-1.25.254-2.414.74-3.447 1.412-1.716-1.93-3.098-4.164-4.054-6.612h7.914zM180 17h-3l2.143-10H180v10zm-30.635 163c-.884-2.502-1.365-5.195-1.365-8 0-13.255 10.748-24 23.99-24H180v32h-30.635zm12.147 0c.5-1.416 1.345-2.67 2.434-3.66l-1.345-1.48c-1.498 1.364-2.62 3.136-3.186 5.14H151.5c-.97-2.48-1.5-5.177-1.5-8 0-12.15 9.84-22 22-22h8v30h-18.488zm13.685 0c-1.037-1.793-2.976-3-5.197-3-2.22 0-4.16 1.207-5.197 3h10.394zM0 148h8.01C21.26 148 32 158.742 32 172c0 2.805-.48 5.498-1.366 8H0v-32zm0 2h8c12.15 0 22 9.847 22 22 0 2.822-.53 5.52-1.5 8h-7.914c-.567-2.004-1.688-3.776-3.187-5.14l-1.346 1.48c1.09.99 1.933 2.244 2.434 3.66H0v-30zm15.197 30c-1.037-1.793-2.976-3-5.197-3-2.22 0-4.16 1.207-5.197 3h10.394zM0 32h16v-4c0-1.657 1.343-3 3-3 5.523 0 10-4.477 10-10 0-2.794-1.145-5.32-2.992-7.134C28.018 5.586 29.6 2.924 30.634 0H0v32zm0-2h2v-4h2v4h4v-4h2v4h4v-2c0-2.76 2.24-5 5-5 4.418 0 8-3.582 8-8s-3.582-8-8-8V3c0-1.052-.18-2.062-.512-3H0v30zM28.5 0c-.954 2.448-2.335 4.683-4.05 6.613-1.035-.672-2.2-1.16-3.45-1.413V3c0-1.04-.144-2.046-.414-3H28.5zM0 17h3L.857 7H0v10zM15.197 0c.51.883.803 1.907.803 3 0 3.314-2.686 6-6 6S4 6.314 4 3c0-1.093.292-2.117.803-3h10.394zM109 115c-1.657 0-3 1.343-3 3v4H74v-4c0-1.657-1.343-3-3-3-5.523 0-10-4.477-10-10 0-2.793 1.145-5.318 2.99-7.132C60.262 93.638 58 88.084 58 82c0-13.255 10.748-24 23.99-24h16.02C111.26 58 122 68.742 122 82c0 6.082-2.263 11.636-5.992 15.866C117.855 99.68 119 102.206 119 105c0 5.523-4.477 10-10 10zm0-2c-2.76 0-5 2.24-5 5v2h-4v-4h-2v4h-4v-4h-2v4h-4v-4h-2v4h-4v-4h-2v4h-4v-2c0-2.76-2.24-5-5-5-4.418 0-8-3.582-8-8s3.582-8 8-8v-4c0-2.64 1.136-5.013 2.946-6.66L72.6 84.86C70.39 86.874 69 89.775 69 93v2.2c-1.25.254-2.414.74-3.447 1.412C62.098 92.727 60 87.61 60 82c0-12.15 9.84-22 22-22h16c12.15 0 22 9.847 22 22 0 5.61-2.097 10.728-5.55 14.613-1.035-.672-2.2-1.16-3.45-1.413V93c0-3.226-1.39-6.127-3.6-8.14l-1.346 1.48C107.864 87.987 109 90.36 109 93v4c4.418 0 8 3.582 8 8s-3.582 8-8 8zM90.857 97L93 107h-6l2.143-10h1.714zM80 99c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm20 0c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6z' fill='%23427dad' fill-opacity='0.13' fill-rule='evenodd'/%3E%3C/svg%3E");
    position: relative;
    max-width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  1rem 2rem;
    z-index: 1;
}
.header a{
    text-decoration: none;
    color: white;
}
.header ul{
    list-style: none;
}
.logo{
    font-size: 2rem;
}
.menu-items{
    display: flex;
    align-items: center;
}
.menu-items li{
    padding: 0.5rem 1rem;
    transition: background 0.5s ease-in-out ;
}
.menu-items li:hover{
    background-color:#ff652f ;
}




/* dropdown */
.dropdown{
    position: relative;
}
.dropdown-menu,
.menu-right{
    position: absolute;
    background:#122331;
    width: 100%;
    top: 50px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}
.menu-right{
    top: 0;
    left: 110%;
}
.menu-item{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.dropdown:hover .dropdown-menu{
    top: 59px;  /* Meant to be 34px*/
    opacity: 1;
    visibility: visible;
}
.dropdown-right:hover .menu-right{
    left: 100%;
    opacity: 1;
    visibility: visible;
}

/* Mega Menu */
.mega-menu{
    position: absolute;
    left: 0;
    width: 80vw;
    top: 80px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}

.mega-menu .content{
    background: #122331;
    padding: 1rem ;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
}
.blog .content{
    grid-template-columns: repeat(3, 1fr);
}
.content .col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 3rem;
}
.content .col .img-wrapper{
    display: block;
    position: relative;
    width: 100%;
    height: 20vw;
    overflow: hidden;
}
.content .col .img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
/* The image */
.content .col img{
    width:100%;
    transition: transform 0.5s ease-in-out;
}
.content .col .img-wrapper:hover img{
    transform: scale(1.1);
}
.content .col h2{
    color: #ff652f;
    font-size: 1.2rem;
    line-height: 3rem;
    font-weight: bold;
}
.content .col p{
    line-height: 1.2rem;
}
.content .col .mega-links{
    border-left: 1px solid #1a3246;
}
.content .col .read-more{
    display: inline-block;
    padding-top: 1rem;
    color: #427dad;
    transition:color 0.5s ease;
}
.col .mega-links li,
.col .mega-links li a{
    padding: 0 1rem;
}
.menu-items li:hover .mega-menu{
    top: 50px;
    opacity: 1;
    visibility: visible;
}
.content .col .read-more:hover{
    color: #ff652f;
}






/* section */
.section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.section h1{
    font-family: serif;
    font-weight: 700;
    line-height: 6vw;
    color: #427dad;
    text-transform: uppercase;
}


/* shapedivider */
/* .custom-shape-divider-bottom-1617355437 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1617355437 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 26px;
}

.custom-shape-divider-bottom-1617355437 .shape-fill {
    fill: #ff652f;
} */